@CHARSET "UTF-8";

/* ===================================================== */
 /* General */
 /* ===================================================== */
 
body {

}

.layout-content {
	
}


/* ===================================================== */
 /* Js Validation FORM Error */
 /* ===================================================== */
/* id start with "-error" */
[id$=-error] {
	color:red;
}

