<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">


<!-- jQuery -->
<script type="text/javascript" th:src="@{/static/vendors/jquery/2.1.4/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/static/vendors/bootstrap/3.3.4/js/bootstrap.js}"></script>

<!-- Metis Menu - A jQuery menu plugin -->
<script type="text/javascript" th:src="@{/static/vendors/metisMenu/dist/metisMenu.js}"></script>


<!-- SB Admin Scripts  -->
<script type="text/javascript"
	th:src="@{/static/vendors/startbootstrap-sb-admin-2-1.0.8/dist/js/sb-admin-2.js}"></script>

