<!DOCTYPE html>


<!-- jQuery -->
<script type="text/javascript" th:src="@{/static/vendors/jquery/2.1.4/jquery.min.js}"></script>

<!-- jQuery Validation Plugin -->
<script type="text/javascript"
	th:src="@{/static/vendors/jquery-validation-1.15.0/dist/jquery.validate.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/static/vendors/bootstrap/3.3.4/js/bootstrap.js}"></script>

<!-- Metis Menu - A jQuery menu plugin -->
<script type="text/javascript" th:src="@{/static/vendors/metisMenu/dist/metisMenu.js}"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript"
	th:src="@{/static/vendors/DataTables-1.10.11/media/js/jquery.dataTables.js}"></script>
<script type="text/javascript"
	th:src="@{/static/vendors/DataTables-1.10.11/media/js/dataTables.bootstrap.js}"></script>
<script type="text/javascript"
	th:src="@{/static/vendors/DataTables-1.10.11/extensions/Responsive/js/dataTables.responsive.js}"></script>


<!-- SB Admin Scripts  -->
<script type="text/javascript"
	th:src="@{/static/vendors/startbootstrap-sb-admin-2-1.0.8/dist/js/sb-admin-2.js}"></script>


<script type="text/javascript">

</script>

<!-- inline  -->
<script th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function() {
    // DataTable Medecins 
    $('#dataTables-medecins').DataTable({
        responsive: true
    });

    // DataTable Patients
    $('#dataTables-patients').DataTable({
        responsive: true
    });

    // plugin validation 
    $("#patientRegisterForm").validate();

    // show register modal automaticaly
    var isRegisterModalShowOnLoad = [[${isRegisterModalShowOnLoad}]];
    // console.log("isRegisterModalShowOnLoad : " + isRegisterModalShowOnLoad);
    if (isRegisterModalShowOnLoad == true) {
        $('#registerModal').modal('show');
    }

    // Manage i18n locale 
    var locale = [[${locale}]];
    //Globalize.culture(culture);
    // console.log("locale : " + locale);

    // modal confirm removal - id to delete
    var clientId = [[${clientId}]];
    // console.log("clientId : " + clientId);

});

// tests
function fonctionTest1(id) {
		console.log("Fonctiontest1:" + id);
    }
function fonctionTest2(id) {
	console.log("Fonctiontest2:" + id);
}
function fonctionTest3(string, id) {
	console.log("Fonctiontest3: string : " + string + " | id : " + id);
}


/*]]>*/
</script>

		<!-- TODO : deplace in jsscipt -->

<!-- Dialog show event handler -->
<script type="text/javascript">
  $('#modalConfirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);

      // Pass form reference to modal for submission on yes/ok
      var form = $(e.relatedTarget).closest('form');
      $(this).find('.modal-footer #confirmButton').data('form', form);
  });

  <!-- Form confirm (yes/ok) handler, submits form -->
  $('#modalConfirmDelete').find('.modal-footer #confirmButton').on('click', function(e){
	  e.preventDefault();
	  console.log("click form submit");
      $(this).data('form').submit();
  });
</script>
