<!DOCTYPE html>

<th:block th:fragment="styles">

<!-- Core CSS - Include with every page -->

<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendors/bootstrap/3.3.4/css/bootstrap.css}" />

<!-- MetisMenu CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendors/metisMenu/dist/metisMenu.css}" />

<!-- Timeline CSS -->
<link type="text/css" rel="stylesheet"
	th:href="@{/static/vendors/startbootstrap-sb-admin-2-1.0.8/dist/css/timeline.css}" />

<!-- DataTables CSS -->
<link type="text/css" rel="stylesheet"
	th:href="@{/static/vendors/DataTables-1.10.11/media/css/dataTables.bootstrap.css}" />

<!-- DataTables Responsive CSS -->
<link type="text/css" rel="stylesheet"
	th:href="@{/static/vendors/DataTables-1.10.11/extensions/Responsive/css/responsive.dataTables.css}" />

<!-- Bootsrap Custom SB Admin CSS -->
<link type="text/css" rel="stylesheet"
	th:href="@{/static/vendors/startbootstrap-sb-admin-2-1.0.8/dist/css/sb-admin-2.css}" />


<!-- Font Awesome - Custom Fonts for pictographic icons -->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendors/font-awesome/4.6.1/css/font-awesome.css}" />



<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</th:block>