<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<th:block th:fragment="Modal-ConfirmRemoval(idObjectToRemove)">

		<!-- ============================================================================ -->
		<!-- Modal - Confirm Supression  -->
		<!-- ============================================================================ -->
		<!-- Modal -->
		<div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog"
			aria-labelledby="confirmRemovalModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="confirmRemovalLabel">Suppresion Client</h4>
					</div>
					<div class="modal-body">
						<p>Confirm suppresion of Patient suivant :</p>
						<p>
							id :
							<span th:text="${idObjectToRemove}"></span>
						</p>
						<p>nom : X</p>
						<p>Prenom : X</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<a th:href="@{/admin/clients/delete/{id}(id=${idObjectToRemove})}">
							<button type="button" class="btn btn-primary">Confirm Suppression</button>
						</a>
					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</th:block>

</body>
</html>