<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<!-- ============================================================================ -->
	<!-- Modal - Delete Confirmat dialog  -->
	<!-- ============================================================================ -->

	<!-- 	<th:block th:fragment="Modal-ConfirmRemoval(idObjectToRemove)"> -->
	<th:block th:fragment="modal-ConfirmDelete">
		<!-- Modal -->
		<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog"
			aria-labelledby="modalConfirmDeleteLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modalConfirmDeleteLabel">Delete Parmanently</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure about this ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success" id="confirmButton">Delete</button>
					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</th:block>

</body>
</html>
