<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title th:text="#{medecin.list.page.title}">Patients</title>
</head>

<body>

	<div layout:fragment="content">

		<!-- ============================================================================ -->
		<!-- TITLE - CONTENT-->
		<!-- ============================================================================ -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">MEDECINS</h1>
			</div>
		</div>

		<!-- ============================================================================ -->
		<!-- ALLERT - MSG -->
		<!-- ============================================================================ -->
		<!-- Alert Message  -->
		<div th:replace="fragments/alert-messages :: alert-messages"></div>


		<!-- ============================================================================ -->
		<!-- LIST - MEDECINS -->
		<!-- ============================================================================ -->
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{medecin.list.table.title}">DataTables
						Advanced Tables - Registered Medecins</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table id="dataTables-medecins"
								class="table table-striped table-bordered table-hover" width="100%">
								<thead>
									<tr>
										<th th:text="#{medecin.list.id.label}">#</th>
										<th th:text="#{medecin.list.version.label}">Version</th>
										<th th:text="#{medecin.list.titre.label}">Titre</th>
										<th th:text="#{medecin.list.nom.label}">Nom</th>
										<th th:text="#{medecin.list.firstName.label}">Prenom</th>
										<th th:text="#{medecin.list.actions.label}">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.isEmpty(medecins)}" class="btn-warning">
										<td colspan="4" align="center">No Medecins Registered Yet!!!</td>
									</tr>
									<tr th:each="medecin : ${medecins}">
										<td th:text="${medecin.id}"></td>
										<td th:text="${medecin.version}"></td>
										<td th:text="${medecin.civility}"></td>
										<td th:text="${medecin.lastName}"></td>
										<td th:text="${medecin.firstName}"></td>
										<td align="center" >
										<a th:href="@{/admin/medecins/{id}(id=${medecin.id})}">
												<button type="button" class="btn btn-info btn-xs">
													<span class="glyphicon glyphicon-eye-open"></span>
													Details
												</button>
											</a>
											<a th:href="@{/admin/medecins/edit/{id}(id=${medecin.id})}"><button
													type="button" class="btn btn-default btn-xs">
													<span class="glyphicon glyphicon-pencil"></span>
													&nbsp;&nbsp;Edit
												</button></a>
											<span>&nbsp;</span>
											<a th:href="@{/admin/medecins/delete/{id}(id=${medecin.id})}"><button
													type="button" class="btn btn-default btn-xs">
													<span class="glyphicon glyphicon-trash"></span>
													&nbsp;&nbsp;Delete
												</button></a>
											<a th:href="@{/admin/medecins/appointment/{id}(id=${medecin.id})}">
												<button type="button" class="btn btn-info btn-xs">
													<span class="glyphicon glyphicon-eye-open"></span>
													Book an appointment
												</button>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
				</div>
				<!-- /.Panel -->
			</div>
		</div>



		<!-- ============================================================================ -->
		<!-- FORM  - ADD MEDECINS -->
		<!-- ============================================================================ -->

		<div class="row">
			<div class="col-lg-12">

				<form class="form" action="#" th:action="@{/admin/medecins/add}"
					th:object="${medecin}" method="post">
					<div class="table responsive">
						<table class="no-border-on-me table ">
							<thead>
								<tr>
									<th class="col-sm-1"></th>
									<th class="col-sm-4" th:text="#{medecin.list.titre.label}">titre</th>
									<th class="col-sm-4" th:text="#{medecin.list.nom.label}">Nom</th>
									<th class="col-sm-4" th:text="#{medecin.list.prenom.label}">PreNom</th>
									<th class="col-sm-2" th:text="#{medecin.list.actions.label}">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="text" hidden="hidden" th:field="*{id}"></input>
									</td>
									<td>
										<input class="form-control" type="text" th:field="*{civility}" placeholder="Type"></input>
									</td>
									<td>
										<input class="form-control" type="text" th:field="*{lastName}" placeholder="Name"></input>
									</td>
									<td>
										<input class="form-control" type="text" th:field="*{firstName}" placeholder="Prenm"></input>
									</td>
									<td>
										<button type="submit" class="btn btn-primary"
											th:text="#{button.label.add.medecin}">Add Medecin</button>
									</td>
								</tr>
								<tr>
									<td class="col-sm-1"></td>
									<td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('civility')}"
										th:errors="*{titre}">type error</td>
									<td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{name}">lastName error</td>
									<td class="col-sm-4 text-danger" th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{name}">firstName error</td>
									<td class="col-sm-2"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>

			</div>
			<!-- /. End col-lg-12 -->
		</div>
		<!-- /# End row -->

	</div>
	<!-- /# End layout:fragment content -->


</body>
</html>
