<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Home</title>
</head>

<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">ADMIN RDV Medecins</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->

		<!-- not Connected -->
		<th:block th:if="${#authorization.expression('!isAuthenticated()')}">
			<h1>Welcome to rdv Medecin!</h1>
			<p>
				Click <a th:href="@{/login}">here</a> to see a greeting.
			</p>
		</th:block>

		<!-- ============================================================================ -->
		<!-- PANEL STATS - HOME DASHBORD -->
		<!-- ============================================================================ -->

		<!-- Connected -->
		<th:block th:if="${#authorization.expression('isAuthenticated()')}">

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-comments fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" th:text="${totalNumberOfDoctors}">0</div>
									<div>Medecins!</div>
								</div>
							</div>
						</div>
						<a href="/admin/medecins/" th:href="@{/admin/medecins/}">
							<div class="panel-footer">
								<span class="pull-left">View Details</span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"></i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-green">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-tasks fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" th:text="${totalNumberOfPatients}">0</div>
									<div>Clients!</div>
								</div>
							</div>
						</div>
						<a href="/admin/clients" th:href="@{/admin/clients/}">
							<div class="panel-footer">
								<span class="pull-left">View Details</span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"></i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-yellow">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-shopping-cart fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" th:text="${totalNumberOfRegistredAppointment}">0</div>
									<div>Rendez Vous!</div>
								</div>
							</div>
						</div>
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left">View Details</span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"></i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-red">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-support fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">13</div>
									<div>Créneau Libre!</div>
								</div>
							</div>
						</div>
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left">View Details</span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"></i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</th:block>

	</div>
</body>
</html>