<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	
<head>
<title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-md-offset-3 col-md-6">

				<!-- ============================================================================ -->
				<!-- Save Alert Messages -->
				<!-- ============================================================================ -->


				<!-- ============================================================================ -->
				<!-- Deletion Alert Messages -->
				<!-- ============================================================================ -->


				<!-- ============================================================================ -->
				<!-- Edit Alert Message -->
				<!-- ============================================================================ -->



				<!-- ============================================================================ -->
				<!-- Panel Form - Add employee  -->
				<!-- ============================================================================ -->
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Add Employee</h3>
					</div>
					<div class="panel-body">
test
					</div>

				</div>
			</div>
		</div>


		<!-- ============================================================================ -->
		<!-- Table All employee  -->
		<!-- ============================================================================ -->
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Employees</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr class="btn-success">
									<th>Name</th>
									<th>Designation</th>
									<th>Salary</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(allEmployees)}" class="btn-warning">
									<td colspan="4" align="center">No Employee Registered
										Yet!!!</td>
								</tr>
								<tr th:each="emp : ${allEmployees}">
									<td th:text="${emp.empName}"></td>
									<td th:text="${emp.empDesignation}"></td>
									<td th:text="${emp.empSalary}"></td>
									<td align="center"><a
										th:href="@{/employee/edit/{id}(id=${emp.id})}"><span
											class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp; <a
										th:href="@{/employee/delete/{id}(id=${emp.id})}"><span
											class="glyphicon glyphicon-trash"></span></a></td>
								</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>