<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
<title>Patiens List</title>
</head>

<body>
	<div layout:fragment="content">

		<!-- ============================================================================ -->
		<!-- TITLE - CONTENT-->
		<!-- ============================================================================ -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">PATIENTS</h1>
			</div>
		</div>

		<!-- ============================================================================ -->
		<!-- ALLERT - MSG -->
		<!-- ============================================================================ -->
		<!-- Alert Message  -->
		<div th:replace="fragments/alert-messages :: alert-messages"></div>


		<!-- ============================================================================ -->
		<!-- Modal - Form - Register client  -->
		<!-- ============================================================================ -->

		<!-- if post error , show modal automoticaly on laod -->
		<!-- TODO -->

		<!-- Button trigger modal to add Client -->
		<button class="btn btn-primary btn-lg pull-right" data-toggle="modal"
			data-target="#registerModal">Add New Client</button>
		<!-- Modal -->
		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
			aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="registerModalLabel">Ajouter un patient</h4>
					</div>
					<form id="patientRegisterForm" th:object="${client}"
						th:action="@{/admin/clients/save}" action="#" method="post">
						<div class="modal-body">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('titre')} ?: 'has-error'">
								<label th:text="#{medecin.list.titre.label}">Titre</label>
								<input type="text" class="form-control" th:value="*{titre}" th:field="*{titre}"
									minlength="2" required="required"></input>
								<p class="text-danger" th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">type
									error</p>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('nom')} ?: 'has-error'">
								<label th:text="#{medecin.list.nom.label}">Nom</label>
								<input type="text" class="form-control" th:value="*{nom}" th:field="*{nom}"
									minlength="2" required="required"></input>
								<p class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">name
									error</p>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('prenom')} ?: 'has-error'">
								<label th:text="#{medecin.list.prenom.label}">Prénom</label>
								<input type="text" class="form-control" th:value="*{prenom}" th:field="*{prenom}"
									minlength="2" required="required"></input>
								<p class="text-danger" th:if="${#fields.hasErrors('prenom')}"
									th:errors="*{prenom}">firtsname error</p>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
							<input type="submit" class="btn btn-primary pull-right" value="Save" />

						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->


		<!-- TODO : with js -->
		<!-- include modal Modal-ConfirmRemoval -->
		<div th:include="Modal-ConfirmRemoval :: Modal-ConfirmRemoval(idObjectToRemove)"></div>


		<!-- ============================================================================ -->
		<!-- Table All client  -->
		<!-- ============================================================================ -->
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Clients</h3>
					</div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table id="dataTables-patients"
								class="table table-striped table-bordered table-hover" width="100%">
								<thead>
									<tr class="btn-success">
										<th>Id</th>
										<th>Titre</th>
										<th>Nom</th>
										<th>Prénom</th>
										<th>Version</th>
										<th>Operation</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.isEmpty(allClients)}" class="btn-warning">
										<td colspan="4" align="center">No Client Registered Yet!!!</td>
									</tr>
									<tr th:each="client : ${allClients}">
										<td th:text="${client.id}"></td>
										<td th:text="${client.titre}"></td>
										<td th:text="${client.nom}"></td>
										<td th:text="${client.prenom}"></td>
										<td th:text="${client.version}"></td>
										<td align="center">
											<a th:href="@{/admin/clients/edit/{id}(id=${client.id})}"><span
													class="glyphicon glyphicon-edit"></span></a>
											<span>&nbsp; &nbsp;</span>
											<button class="btn btn-primary btn-xs" data-toggle="modal"
												data-target="#confirmRemovalModal">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
				</div>
				<!-- /# End panel -->
			</div>
			<!-- /. En col-lg-12 -->
		</div>
		<!-- /# End row -->

	</div>
	<!-- /# End layout:fragment content -->
</body>
</html>