<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
<title>Patients Edit</title>
</head>

<body>
	<div layout:fragment="content">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">CLIENT</h1>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-offset-3 col-md-6">

				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Edit Client</h3>
					</div>
					<div class="panel-body">
						<form th:object="${editClient}" th:action="@{/admin/clients/update}" method="post"
							role="form">
							<input type="hidden" th:field="*{id}" />
							<input type="hidden" th:field="*{version}" />

							<div class="form-group" th:classappend="${#fields.hasErrors('titre')} ?: 'has-error'">
								<input type="text" th:field="*{titre}" class="form-control"
									placeholder="Client Name" />
								<p class="text-danger" th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">type
									error</p>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('nom')} ?: 'has-error'">
								<input type="text" th:field="*{prenom}" class="form-control"
									placeholder="Client Prenom" />
								<p class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">name
									error</p>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('prenom')} ?: 'has-error'">
								<input type="text" th:field="*{nom}" class="form-control" placeholder="Client Nom" />
								<p class="text-danger" th:if="${#fields.hasErrors('prenom')}"
									th:errors="*{prenom}">name error</p>
							</div>
							<input type="submit" class="btn btn-danger pull-right" value="Update" />
						</form>
					</div>

					<div class="panel-footer">
						<a th:href="@{/admin/clients/list}" class="btn btn-success">Back To List</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /# End row -->


	</div>
	<!-- /# End layout:fragment content -->
</body>
</html>